# templates/index.html
<!DOCTYPE html>
<html>

<head>
    <title>Sentiment Analysis</title>
</head>

<body>
    <h1>Sentiment Analysis</h1>
    {% if error %}
    <p style="color:red;">{{ error }}</p>
    {% endif %}
    <form method="post">
        <label for="review_text">Enter Review:</label><br>
        <textarea id="review_text" name="review_text" rows="4" cols="50"></textarea><br>
        <input type="submit" value="Analyze Sentiment">
    </form>

    {% if review_text %}
    <h2>Review:</h2>
    <p>{{ review_text }}</p>
    <h2>Sentiment:</h2>
    <p>{{ sentiment }}</p>
    {% endif %}

    <p><a href="{{ url_for('train') }}">Train Model</a></p>
    <p><a href="{{ url_for('load') }}">Load Model</a></p>
</body>

</html>